<h2 class="text-primary">LOGIN</h2>
<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username" qbAutofocus
           [class.is-invalid]="username.invalid && (username.dirty || username.touched)" [class.is-valid]="username.valid">
    <div *ngIf="username.invalid" class="invalid-feedback">
      <div *ngIf="username.errors.required">
        Please provide a valid username.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password"
            [class.is-invalid]="password.invalid && (password.dirty || password.touched)" [class.is-valid]="password.valid">
    <div *ngIf="password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">
        Please provide a valid password.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div *ngIf="message" class="alert alert-danger">{{message}}</div>
    <button type="submit" class="btn btn-primary"
            [disabled]="loginForm.pristine || loginForm.invalid">
      <span>Login</span>
    </button>
  </div>
</form>