<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Quiz Bowl</a>
    <button class="navbar-toggler" (click)="toggleShow()" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': show }">
      <ul class="navbar-nav font-weight-bold mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/play">PLAY</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/questions">QUESTIONS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/collections">COLLECTIONS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/news">NEWS</a>
        </li>
      </ul>
      <ul class="navbar-nav font-weight-bold pull-right">
        <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login" (click)="login()">LOGIN</a>
        </li>
        <li ngbDropdown *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="" role="button" id="userDropdown"
              aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <span class="oi oi-person"></span> {{username}}
          </a>
          <div ngbDropdownMenu aria-labelledby="userDropdown">
            <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>