<div class="card mt-3 border-0 rounded-0">
  <h2 class="card-header bg-primary text-white">Question</h2>
  <div class="card-body">
    <ul>
      <li><label>id</label>{{question?.id}}</li>
      <li><label>created by</label>{{question?.created_by}}</li>
      <li><label>created on</label>{{question?.created_on | date:'short'}}</li>
      <li><label>modified on</label>{{question?.modified_on | date:'short'}}</li>
      <li><label>difficulty</label>{{question?.difficulty}}</li>
      <li><label>text</label>{{question?.text}}</li>
      <li><label>answer</label>{{question?.answer}}</li>
      <li><label>alternate answer</label>{{question?.alternate_answer}}</li>
      <li><label>answer type</label>{{question?.answer_type}}</li>
      <li>
        <ul class="list-inline">
          <label>tags</label>
          <li *ngFor="let tag of question?.tags"
              class="list-inline-item badge badge-primary">
            {{tag}}
          </li>
        </ul>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
</div>