<div class="h-100 pt-5 d-flex justify-content-center" style="overflow-y: auto;">
  <div class="container">
    <h1 class="text-primary text-uppercase font-weight-bold">Search</h1>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search" />
      <div class="text-right text-uppercase text-muted">
        Search Filters
        <span class="oi oi-magnifying-glass"></span>
      </div>
    </div>
    <h1 class="text-primary text-uppercase font-weight-bold">Popular Tags</h1>
    <div class="row">
      <div *ngFor="let tag of tags" class="col-lg-3 mb-3 text-center">
        <div class="card">
          <div class="card-body">
            <div class="text-primary font-weight-bold">{{tag.name}}</div>
            <div class="text-muted">{{tag.question_count}} {{'question' | pluralize:tag.question_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>