<div class="mx-auto" style="max-width:42rem;">
  <!-- search -->
  <div class="position-sticky py-3 bg-white" style="top:56px;">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="d-flex justify-content-between">
        <div class="flex-grow position-relative">
          <input id="search-box" class="form-control" #sb formControlName="search" autocomplete="off" placeholder="Search Questions"
            (keyup.enter)="sb.blur()" (keyup)="searchTags(sb.value, sb.selectionEnd)" (click)="searchTags(sb.value, sb.selectionEnd)" />
          <ul id="live-suggest" class="list-unstyled bg-white text-muted border border-light w-100">
            <li *ngFor="let tag of tags$ | async"
                (click)="onSelectTag(sb.value, sb.selectionEnd, tag.name); sb.focus();"
                class="d-flex justify-content-between px-3">
              <div class="rm-auto">{{tag.name}}</div>
              <div>{{tag.question_count}}</div>
            </li>
          </ul>
        </div>
        <div class="ml-2">
          <button class="btn btn-secondary" role="button"><span class="oi oi-menu"></span></button>
          <button class="btn btn-primary font-weight-bold" role="button" routerLink="/questions/new">New</button>
        </div>
      </div>
    </form>
  </div>

  <qb-question-list [params]="params"></qb-question-list>
</div>