<div *ngIf="question">
  <h2>#{{question.id}}</h2>
  <div class="d-flex justify-content-between text-muted">
    <div>
      <span>{{question.created_by}}</span> &middot;
      <span>{{question.created_on | date:'short'}}</span>
    </div>
    <div>
      <span>Difficulty {{question.difficulty}}</span>
    </div>
  </div>
  <ul class="list-inline mb-0">
    <li *ngFor="let tag of question?.tags"
        class="list-inline-item badge badge-primary">
      {{tag}}
    </li>
  </ul>
  <hr />
  <p>{{question.text}}</p>
  <p class="ml-5 text-primary">{{question.answer}}<span *ngIf="question.alternate_answer"> <span class="font-weight-bold">or</span> {{question.alternate_answer}}</span></p>
</div>