<div *ngIf="set" class="card mt-5 mx-auto" style="width:768px;">
  <h2 class="card-header bg-primary text-white">#{{set.id}} <small>{{set.title}}</small></h2>
  <div class="card-body">
    <div class="d-flex justify-content-space-between">
      <div class="text-muted">
        <span>{{set.created_by}}</span> &middot;
        <span>{{set.created_on | date:'short'}}</span>
      </div>
    </div>
    <ul class="list-inline">
      <li *ngFor="let tag of set?.tags" class="list-inline-item badge badge-primary">{{tag}}</li>
    </ul>
    <hr />
    <h4 class="text-primary text-uppercase font-weight-bold">{{set.count}} {{'question' | pluralize:set.count}}</h4>
  </div>
</div>