<form *ngIf="question" [formGroup]="questionForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <div class="float-right">
      <button *ngIf="questionForm.disabled" type="button" class="btn btn-primary" (click)="questionForm.enable()">Edit</button>
      <button *ngIf="question.id" type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <h2 class="text-primary">{{question.id ? '#'+question.id : 'New Question'}}</h2>
  </div>
  
  <!-- meta data -->
  <div class="d-flex justify-content-between text-muted">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="text-primary" [routerLink]="['/users', question.created_by]">{{question.created_by}}</a>
      </li>
      <li class="list-inline-item">{{question.created_on | date:'short'}}</li>
    </ul>
    <div>
      <label>Difficulty</label>
      <ngb-rating [max]="5" formControlName="difficulty"></ngb-rating>
    </div>
  </div> <!-- ./d-flex -->

  <div class="form-group">
    <label>Question</label>
    <textarea class="form-control" maxlength="255" rows="3"
              autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
              formControlName="text"></textarea>
    <div *ngIf="questionForm.enabled" class="text-muted text-right">{{questionForm.get('text').value.length}}/255</div>
  </div>

  <!-- <div class="form-group">
    <label>Answer Widget</label>
    <select class="form-control" formControlName="answer_widget">
      <option *ngFor="let widget of answer_widgets" [value]="widget.value">{{widget.name}}</option>
    </select>
  </div> -->

  <div class="form-group">
    <label>Answer</label>
    <div class="d-block">
      <div class="btn-group" [hidden]="questionForm.disabled" ngbRadioGroup name="radioBasic" formControlName="answer_widget">
        <label *ngFor="let widget of answer_widgets" ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="widget.value"> {{widget.name}}
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input #answer [type]="questionForm.get('answer_widget').value" class="form-control"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="answer">
      </div>
      <div class="col">
        <input #alternateAnswer [type]="questionForm.get('answer_widget').value" class="form-control"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="alternate_answer">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Tags</label>
    <textarea [hidden]="questionForm.disabled"  class="form-control" rows="2"
              autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
              formControlName="tags"></textarea>
    <ul *ngIf="questionForm.disabled" class="list-inline mb-0">
      <li *ngFor="let tag of question.tags"
          class="list-inline-item badge badge-primary">
        {{tag}}
      </li>
    </ul>
  </div>

  <div *ngIf="questionForm.enabled">
    <button type="submit"
            [disabled]="questionForm.pristine"
            class="btn btn-success">Save</button> &nbsp;
    <button type="reset" (click)="cancel()"
            class="btn btn-danger">Cancel</button>
  </div>
</form>