<form *ngIf="question" [formGroup]="questionForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <h2 class="text-primary">{{question.id ? '#'+question.id : 'New Question'}}</h2>
  </div>
  
  <!-- meta data -->
  <div class="d-flex justify-content-between text-muted">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="text-primary" [routerLink]="['/users', question.created_by]">{{question.created_by}}</a>
      </li>
      <li class="list-inline-item">{{question.created_on | date:'short'}}</li>
    </ul>
    <div class="font-weight-bold"><span class="oi oi-thumb-up"></span>{{question.likes}}</div>
  </div> <!-- ./d-flex -->

  <!-- question -->
  <div class="form-group">
    <label>Question</label>
    <div *ngIf="questionForm.disabled" style="padding: 7px 13px;">{{question.text}}</div>
    <div [hidden]="questionForm.disabled">
      <textarea class="form-control no-resize" required maxlength="255" rows="3"
                placeholder="Ask a question!"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="text"></textarea>
      <div class="text-muted text-right">{{questionForm.get('text').value.length}}/255</div>
      <!-- errors -->
      <div *ngIf="text.invalid && (text.dirty || text.touched)"
            class="alert alert-danger">
        <div *ngIf="text.errors.required">
          Please enter a question above.
        </div>
      </div>
    </div>
  </div>

  <!-- answers -->
  <div class="form-group">
    <label>Answer</label>

    <div *ngIf="questionForm.disabled" style="padding: 7px 13px;">
      {{question.answer}}<span *ngIf="question.alternate_answer"> <b>or</b> {{question.alternate_answer}}</span>
    </div>

    <div [hidden]="questionForm.disabled">
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-3">
          <select class="form-control" (change)="onAnswerWidgetChange()" formControlName="answer_widget">
            <option *ngFor="let widget of answer_widgets" [value]="widget.value">{{widget.name}}</option>
          </select>
          <!-- <div class="btn-group" ngbRadioGroup name="radioBasic" formControlName="answer_widget">
            <label *ngFor="let widget of answer_widgets" ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="widget.value"> {{widget.name}}
            </label>
          </div> -->
        </div>
        <div class="col-6 col-lg-4">
          <input  [type]="answerWidget.value" class="form-control" required
                  placeholder="Answer"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="30"
                  formControlName="answer">
        </div>
        <div class="col-6 col-lg-4">
          <input  [type]="answerWidget.value" class="form-control"
                  placeholder="Alternate Answer"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="30"
                  formControlName="alternate_answer">
        </div>
      </div>
      <!-- errors -->
      <div *ngIf="answer.invalid && (answer.dirty || answer.touched)"
            class="alert alert-danger">
        <div *ngIf="answer.errors.required">
          A primary answer is required.
        </div>
      </div>
    </div>
    
  </div> <!-- ./form-group -->

  <!-- difficulty -->
  <div class="form-group">
    <label>Difficulty</label>
    <div class="d-block" style="padding: 7px 13px;">
      <ngb-rating [max]="5" formControlName="difficulty"></ngb-rating>
    </div>
  </div>

  <!-- tags -->
  <div class="form-group">
    <label>Tags</label>
    <ul *ngIf="questionForm.disabled" class="list-inline mb-0" style="padding: 7px 13px;">
      <li *ngFor="let tag of question.tags"
          class="list-inline-item badge badge-primary">
        {{tag}}
      </li>
    </ul>
    <div [hidden]="questionForm.disabled">
      <textarea class="form-control no-resize"
                placeholder="Add tags here!"
                rows="2" maxlength="255" required
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                aria-describedby="tagsHelpBlock"
                (keypress)="onTagsKeyPress($event)" (blur)="onTagsBlur()"
                formControlName="tags"></textarea>
      <small id="tagsHelpBlock" class="form-text text-muted">Use underscores to separate words in the same tag, i.e. quiz_bowl</small>
      <!-- errors -->
      <div *ngIf="tags.invalid && (tags.dirty || tags.touched)"
            class="alert alert-danger mt-1">
        <div *ngIf="tags.errors.required">
          At least one tag is required so other users can find your question.
        </div>
        <div *ngIf="tags.errors.pattern">
          Tags must be 3-30 characters long, with a max of 10 tags.
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <div class="float-left">
      <div *ngIf="questionForm.enabled" class="d-inline">
        <button type="submit"
                [disabled]="questionForm.pristine || questionForm.invalid"
                class="btn btn-success">Save</button>
        <button type="reset" (click)="cancel()"
                class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="float-right">
      <button *ngIf="isOwner && questionForm.disabled" type="button" class="btn btn-primary" (click)="questionForm.enable()">Edit</button>
      <button *ngIf="question.id" type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>

</form>