<form *ngIf="question" [formGroup]="questionForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    
    <h2 class="text-primary">{{question.id ? '#'+question.id : 'New Question'}}</h2>
  </div>
  
  <!-- meta data -->
  <div class="d-flex justify-content-between text-muted">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="text-primary" [routerLink]="['/users', question.created_by]">{{question.created_by}}</a>
      </li>
      <li class="list-inline-item">{{question.created_on | date:'short'}}</li>
    </ul>
    <div class="font-weight-bold">Rating {{question.rating | number:'1.2-2'}}</div>
  </div> <!-- ./d-flex -->

  <div class="form-group">
    <label>Question</label>
    <div *ngIf="questionForm.disabled" style="padding: 7px 13px;">{{question.text}}</div>
    <div [hidden]="questionForm.disabled">
      <textarea class="form-control" required maxlength="255" rows="3"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="text"></textarea>
      <div class="text-muted text-right">{{questionForm.get('text').value.length}}/255</div>
    </div>
  </div>

  <div class="form-group">
    <label>Answer</label>
    <div class="d-block">
      <div class="btn-group" [hidden]="questionForm.disabled" ngbRadioGroup name="radioBasic" formControlName="answer_widget">
        <label *ngFor="let widget of answer_widgets" ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="widget.value"> {{widget.name}}
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input #answer [type]="questionForm.get('answer_widget').value" class="form-control" required
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="answer">
      </div>
      <div class="col">
        <input #alternateAnswer [type]="questionForm.get('answer_widget').value" class="form-control"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                formControlName="alternate_answer">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Difficulty</label>
    <div class="d-block" style="padding: 7px 13px;">
      <ngb-rating [max]="5" formControlName="difficulty"></ngb-rating>
    </div>
  </div>

  <div class="form-group">
    <label>Tags</label>
    <textarea [hidden]="questionForm.disabled" class="form-control" rows="2" required
              autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
              formControlName="tags"></textarea>
    <ul *ngIf="questionForm.disabled" class="list-inline mb-0" style="padding: 7px 13px;">
      <li *ngFor="let tag of question.tags"
          class="list-inline-item badge badge-primary">
        {{tag}}
      </li>
    </ul>
  </div>

  <div class="clearfix">
    <div class="float-left">
      <div *ngIf="questionForm.enabled" class="d-inline">
        <button type="submit"
                [disabled]="questionForm.pristine || questionForm.invalid"
                class="btn btn-success">Save</button>
        <button type="reset" (click)="cancel()"
                class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="float-right">
      <button *ngIf="questionForm.disabled" type="button" class="btn btn-primary" (click)="questionForm.enable()">Edit</button>
      <button *ngIf="question.id" type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>

</form>