<ul class="list-group">
  <li *ngFor="let set of sets"
      (click)="setSelected(set)"
      class="list-group-item list-group-item-action flex-column align-items-start border-0 rounded-0">
    <div class="d-flex w-100 justify-content-between">
      <small class="text-muted">
        <a class="text-primary" [routerLink]="set.id">#{{set.id}}</a> &middot;
        <a class="text-primary" [routerLink]="['/users', set.created_by]">{{set.created_by}}</a> &middot;
        <span class="font-weight-bold">{{set.count}}<span class="d-none d-sm-inline"> {{"question" | pluralize:set.count}}</span></span> &middot;
        <span>{{set.created_on | age}}</span>
      </small>
      <a class="px-1"><span class="oi oi-ellipses text-primary" aria-hidden="true"></span></a>
    </div> <!-- ./d-flex -->
    <a [routerLink]="set.id" class="text-capitalize title-ellipsis font-weight-bold text-primary">{{set.title}}</a>
  </li> <!-- ./list-group-item -->
</ul>