<div class="container-fluid pt-xl-5">
  <div class="row">
    <div class="col">
      <div class="card border-0 rounded-0 mb-3">
        <div class="card-body">
          <h2 class="card-title">News</h2>
          <post-list [posts]="recentPosts"></post-list>
        </div>
      </div>
    </div> <!-- ./col -->
    <div class="col">
        <div class="card border-0 rounded-0 mb-3">
          <div class="card-body">
            <h2 class="card-title">Top 5 Questions</h2>
            <question-list [questions]="topFiveQuestions"></question-list>
          </div>
        </div>
        <div class="card border-0 rounded-0">
            <div class="card-body">
              <h2 class="card-title">Top 10 Question Sets</h2>
            </div>
          </div>
      </div> <!-- ./col -->
  </div>
</div>