$break-points: (0: 0%, 25: 25%, 33: 33%, 50: 50%, 66: 66%, 75: 75%, 100: 100%);
@each $break-point, $size in $break-points {
  .h-min-#{$break-point} {
    min-height: $size;
  }
  .w-min-#{$break-point} {
    min-width: $size;
  }
  .h-max-#{$break-point} {
    max-height: $size;
  }
  .w-max-#{$break-point} {
    max-width: $size;
  }
}