<div class="card mt-3 border-0 rounded-0">
  <h2 class="card-header bg-primary text-white">Post</h2>
  <div class="card-body">
    <ul>
      <li><label>id</label>{{post?.id}}</li>
      <li><label>created by</label>{{post?.created_by}}</li>
      <li><label>created on</label>{{post?.created_on | date:'short'}}</li>
      <li><label>title</label>{{post?.title}}</li>
      <li><label>text</label>{{post?.text}}</li>
    </ul>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
</div>