.modal-message {
  text-align: center;
  font-weight: bold;
}

.modal-btn-footer {
  display: flex;
  flex: 1 1 auto;
}

.btn-modal {
  flex: 1;
  border: none !important;
  border-radius: 0;
  font-weight: bold;
}