<div *ngIf="content.title" class="modal-header bg-primary">
  <h4 class="modal-title text-white text-uppercase">{{content.title}}</h4>
</div>
<div class="modal-body" [class.text-center]="content.center">
  {{content.message}}
</div>
<div *ngIf="content.buttons" class="modal-btn-footer bg-primary">
  <button *ngFor="let button of content.buttons" type="button" class="btn btn-primary btn-modal text-uppercase" 
          (click)="activeModal.close(button.result)">
          {{button.name}}</button>
</div>